.App {
  text-align: center;
}

form {
  margin: 20px 0;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  margin-left: 10px;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: auto;
}
table{
  margin: auto;
}

li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
